:root {
    --tiptap-node-blockquote-border-color: #121212;
    --tiptap-node-code-block-background-color: #faf9f8;
    --tiptap-node-code-block-foreground-color: #333333;
    --tiptap-node-placeholder-color: #a9a9a9;
    --tiptap-node-horizontal-rule-color: #cccccc;
    --tiptap-node-horizontal-rule-selected-color: #4e4e4e;
    --tiptap-node-mention-bg-color: #f3e8ff;
    --tiptap-node-mention-text-color: #7b2ff7;
    --tiptap-command-filter: ' 필터...';
    --tiptap-node-toggle-placeholder: '토글';
}

.tiptap {
    outline: none;

    /* 기본 박스 모델 복원 */
    & {
        box-sizing: border-box;
        font-family: inherit;
        line-height: 1.6;
        color: inherit;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding: 3px 2px;
        font-weight: bold;
        line-height: 1.6;
        margin-top: 2.5rem;
        text-wrap: pretty;
    }

    h1 {
        margin-top: 2rem;
        margin-bottom: 0.25rem;
        font-size: 30px;
    }

    h2 {
        margin-top: 1.4rem;
        margin-bottom: 1px;
        font-size: 24px;
    }

    h3 {
        margin-top: 1rem;
        margin-bottom: 1px;
        font-size: 20px;
    }

    p {
        font-weight: 500;
        line-height: 2;
        padding: 3px 2px;
        margin: 1px 0;
    }

    strong,
    b {
        font-weight: bold;
    }

    em,
    i {
        font-style: italic;
    }

    u {
        text-decoration: underline;
    }

    a {
        color: #0066cc;
        text-decoration: underline;
    }

    [data-type='details'] {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: start;
        gap: 0.5rem;
        border-radius: 4px;
        padding: 0.25rem 0;

        > div {
            flex: 1 1 auto;
        }

        &::before {
            display: none;
        }

        button {
            &:hover {
                background-color: var(--color-grey-10);
            }
            border-radius: 0.25rem;
            cursor: pointer;
            width: 20px;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 auto;
            &::before {
                content: '▶';
                display: inline-block;
            }
        }

        &.is-open > button::before {
            content: '▼';
        }

        /* placeholder를 버튼 뒤 div 영역에 표시 */
        &.is-empty > div::before {
            color: var(--tiptap-node-placeholder-color);
            content: var(--tiptap-node-toggle-placeholder);
            pointer-events: none;
            position: absolute;
        }

        summary {
            &::-webkit-details-marker {
                /* Safari 브라우저용 사용자 정의 스타일 */
                display: none;
            }
            list-style-type: none; /* 그 외의 브라우저용 사용자 정의 스타일 */
        }
    }

    /* Selected node styles */
    .ProseMirror-selectednode {
        border-radius: 0.25rem;
        background-color: #e4effb;
    }

    /* */
    .suggestion {
        background-color: rgba(66, 35, 3, 0.031);
        border-radius: 0.5rem;
        padding: 0.5rem;

        &.is-empty::after {
            content: var(--tiptap-command-filter);
            display: inline-block;
            color: #a8a49c;
        }
    }

    code {
        background-color: var(--tiptap-node-code-block-background-color);
        border-radius: 3px;
        font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', monospace;
        font-size: 0.85em;
        padding: 0.2em 0.4em;
    }

    :first-child {
        margin-top: 0;
    }

    /* Blockquote styles */
    blockquote {
        border-left: 3px solid var(--tiptap-node-blockquote-border-color);
        margin: 1.5rem 0;
        padding-left: 1rem;
    }

    /* List styles */
    ul,
    ol {
        padding-left: 1.5rem;
        list-style: initial; /* 기본 리스트 스타일 복원 */

        li {
            display: list-item; /* 기본 리스트 아이템 표시 복원 */
        }
    }

    ul {
        list-style-type: disc;

        ul {
            list-style-type: circle;

            ul {
                list-style-type: square;
            }
        }
    }

    ol {
        list-style-type: decimal;

        ol {
            list-style-type: lower-alpha;

            ol {
                list-style-type: lower-roman;
            }
        }
    }

    /* Task list specific styles */
    ul[data-type='taskList'] {
        list-style: none;
        margin-left: 0;
        padding: 0;

        li {
            align-items: flex-start;
            display: flex;

            > label {
                flex: 0 0 auto;
                margin-top: 0.2rem;
                margin-right: 0.5rem;
                user-select: none;
            }

            > div {
                flex: 1 1 auto;
            }
        }

        input[type='checkbox'] {
            cursor: pointer;
        }

        ul[data-type='taskList'] {
            margin: 0;
        }
    }

    hr {
        border: none;
        border-bottom: 1px solid var(--tiptap-node-horizontal-rule-color);
        cursor: pointer;
        padding-top: 1rem;
        margin-bottom: 2rem;
        transform: translateY(0.75rem);

        &.ProseMirror-selectednode {
            background-color: transparent;
            border-radius: 0;
            border-bottom: 1px solid
                var(--tiptap-node-horizontal-rule-selected-color);
        }
    }

    /* Code Block styles */
    pre {
        background-color: var(--tiptap-node-code-block-background-color);
        border-radius: 0.5rem;
        color: var(--tiptap-node-code-block-foreground-color);
        font-family: 'JetBrainsMono', monospace;
        margin: 0.5rem 0;
        padding: 0.75rem 1rem;

        code {
            background-color: none;
            color: inherit;
            font-size: 0.8rem;
            padding: 0;
        }

        /* Code styling */
        .hljs-comment,
        .hljs-quote {
            color: #708090;
        }

        .hljs-variable,
        .hljs-template-variable,
        .hljs-attribute,
        .hljs-tag,
        .hljs-regexp,
        .hljs-link,
        .hljs-name,
        .hljs-selector-id,
        .hljs-selector-class {
            color: #2c2c2b;
        }

        .hljs-number,
        .hljs-meta,
        .hljs-built_in,
        .hljs-builtin-name,
        .hljs-literal,
        .hljs-type,
        .hljs-params {
            color: #905;
        }

        .hljs-string,
        .hljs-symbol,
        .hljs-bullet {
            color: #690;
        }

        .hljs-title,
        .hljs-section {
            color: #dd4a68;
        }

        .hljs-keyword,
        .hljs-selector-tag {
            color: #07a;
        }

        .hljs-emphasis {
            font-style: italic;
        }

        .hljs-strong {
            font-weight: 700;
        }
    }

    .is-empty::before {
        color: var(--tiptap-node-placeholder-color);
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }

    .mention {
        background-color: var(--tiptap-node-mention-bg-color);
        border-radius: 0.4rem;
        box-decoration-break: clone;
        color: var(--tiptap-node-mention-text-color);
        padding: 0.1rem 0.3rem;
        &::after {
            content: '\200B';
        }
    }

    /* Table-specific styling */
    table {
        border-collapse: collapse;
        margin: 0;
        overflow: hidden;
        table-layout: fixed;
        width: 100%;

        td,
        th {
            border: 1px solid var(--border);
            box-sizing: border-box;
            min-width: 1em;
            padding: 6px 8px;
            position: relative;
            vertical-align: top;

            > * {
                margin-bottom: 0;
            }
        }

        th {
            background-color: var(--muted);
            font-weight: bold;
            text-align: left;
        }

        .selectedCell:after {
            background: var(--primary);
            opacity: 0.2;
            content: '';
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            pointer-events: none;
            position: absolute;
            z-index: 2;
        }

        .column-resize-handle {
            background-color: var(--primary);
            bottom: -2px;
            pointer-events: none;
            position: absolute;
            right: -2px;
            top: 0;
            width: 4px;
        }
    }

    .tableWrapper {
        margin: 1.5rem 0;
        overflow-x: auto;
    }

    &.resize-cursor {
        cursor: ew-resize;
        cursor: col-resize;
    }

    img {
        &.ProseMirror-selectednode {
            border-radius: 0;
            outline: 2px solid #4e90fc;
            outline-offset: 2px;
        }
    }

    [data-youtube-video] {
        max-width: 100%;

        iframe {
            border-radius: 0.2rem;
            width: 100%;
            height: 480px;
        }
    }
}
